// src/styles/_layout.scss
@use './variables' as *;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
}

.app-root {
  min-height: 100%;
  background: radial-gradient(circle at top, #111827 0, $color-bg 55%);
}

