.mantine-Input-input,
.mantine-TextInput-input,
.mantine-PasswordInput-input,
.mantine-Select-input,
.mantine-Button-root,
.mantine-Menu-dropdown,
.mantine-NavLink-root {
    border-radius: 2px !important;
}
